<div class="pokemon">
  <h3><%= @pokemon.name %></h3>
  <img src="<%= @pokemon.img_url %>">
  <p>Type: <%=@pokemon.poke_type %></p>
  <p>CP: <%= @pokemon.cp %></p>
  <p><a href="/pokemons/<%= @pokemon.id %>/edit">Edit Pokemon</a></p>
</div>
